<div id="concierge">
	<section id="welcome">
		<div>
			<h1>Spelling Bee</h1>
			<p>Create words using letters from the hive</p>
			<ul>
				<li>Words must contain at least 4 letters</li>
				<li>Words must include a <font color="#f8cd05">yellow</font> letter</li>
				<li>Letters can be repeated</li>
			</ul>
			<p>Longer words score more points</p>
			<p>Use all 7 letters for even more points</p>
			<p>Go for a high score!</p>
		</div>
		<div>
			<p>Swipe up to start!</p>
			<div class="arrow bounce"></div>
		</div>
	</section>
</div>
