<div id="help-modal" class="modal">
	<div class="modal-content">
		<div id="close-help" class="close-x">×</div>
		<h1>Rules</h1>
		<ul>
			<li>Words must be at least <b>4 letters long</b>.</li>
			<li>Every answer must use the center letter at least once.</li>
			<li>Letters may be reused in a word. </li>
			<li>Proper names and hyphenated words are not allowed.</li>
		</ul>
		<hr>
		<p>Have feedback? </br><a href="mailto:gameprototypes@nytimes.com?Subject=Spelling%20Bee%20Feedback">Email Us »</a></p>
	</div>
</div>
