@import '../../shared/styles/imports.css';

html {
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
	/*--teal: rgb(165, 219, 217);*/
	--teal: darkcyan;
  font-family: magsans;
	height: 100vh;
	margin: 0;
}

header {
	background-color: var(--teal);
}

div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

a {
	color: black;
	text-decoration: none;
}

h1 {
	font-family: magslab;
	font-size: 3rem;
}

.logo-container {
	margin: 30px auto;
	width: 300px;
	height: 150px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

#welcome .puzzle-info p {
	margin: 5px 0;
}

#welcome .theme h1,
#welcome .theme p {
	margin: 5px 0;
}

.game-container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.vertical-container {
	flex-direction: column;
	flex-wrap: nowrap;
	flex: 1 0 auto;
	margin: 10px 0;
	padding: 0 3%;
}

.vertical-container a {
	font-size: 1.2rem;
	border-bottom: 3px solid var(--teal);
	margin: 20px 0;
}

.horizontal-container {
	margin: 0 auto 40px auto;
	flex-direction: row;
	justify-content: space-around;
	width: 300px;
}

.puzzle-select.button {
	box-shadow: 0 4px 0 #ccc;
	font-size: 1.3rem;
	height: 71px;
	width: 71px;
	padding: 2rem;
	width: auto;
	position: relative;
}

.puzzle-select.button:active {
	box-shadow: 0 0 0 0;
	top: 4px;
}

.puzzle-select.button.completed {
	top: 4px;
	box-shadow: 0 0 0 0;
	border: 0;
	background-color: #ddd;
}

/*
.puzzle-select.button.completed::after {
	content: 	'\002B50';
	color: var(--teal);
	position: absolute;
	left: 0;
	text-align: center;
	top: 0;
	width: 100%;
}*/

.vertical-container ul {
	padding: 0 10%;
	width: 100%;
}

.board {
	flex-direction: row;
}

.tough .board {
	width: 90%;
	max-width: 800px;
}

.button {
	border-radius: 10px;
  background-color: #fff;
	height: 60px;
	margin: 0.5em 0;
	width: 150px;
}

@keyframes stretchIn {
  0% {

  }
  100% {
    transform: scale(1);
  }
}

.cell {
	font-size: 1.4rem;
  margin: 0.5%;
  border-radius: 10px;
  background-color: #fff;
  color: var(--teal);
  position: relative;
	padding-top: 1%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  animation-name: stretchIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

.verticalPath,
.horizontalPath {
	pointer-events: none;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.verticalPath.top::before,
.verticalPath.bottom::after,
.horizontalPath.left::before,
.horizontalPath.right::after {
	content: '';
	position: absolute;
	border: 2px solid #333;
	border-radius: 10px;
}

.horizontalPath.left::before,
.horizontalPath.right::after {
	width: 20%;
}

.verticalPath::before,
.verticalPath::after {
	transform: rotate(90deg);
	width: 20%;
}

.horizontalPath.left::before {
	left: -4px;
}

.horizontalPath.right::after {
	right: -4px;
}

.verticalPath.top::before {
	top: 0px;
}

.verticalPath.bottom::after {
	bottom: 0;
}

.cell.active,
.cell:hover {
  background-color: #bbb;
  color: #fff;
	cursor: pointer;
}

@media only screen and (max-device-width: 500px) {
	.board {
		margin: 0 auto;
		max-width: 500px;
	}

  .cell {
    font-size: 1.2rem;
  }
}

.black {
  margin: 0.5%;
  border-radius: 10px;
  font-size: 2rem;
  position: relative;
	background-color: #333;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.black:hover {
  background-color: #333;
  color: #333;
	border: none;
	cursor: auto;
}

@keyframes animateBorder {
  to {
    outline-color: var(--teal);
    box-shadow: 0 0 0 3px white;
  }
}

.circled {
	background-color: var(--teal);
	color: #fff;
  border: 3px dashed white;
  animation: 1s animateBorder infinite;
  animation-name: stretchIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

.circled.active,
.circled:hover {
	border: none;
	background-color: var(--teal);
  box-shadow: none;
  animation: stretchIn;
}

.congratulations {
	display: none;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

.congratulations-overlay {
	z-index: 100;
	background-color: black;
	opacity: 0.85;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes swingIn {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0);
    }
}

#congrats-modal .oblong-button {
	background-color: var(--teal);
	color: white;
}

.modal a {
	border-color: var(--teal);
}

.answers {
	flex-direction: column;
}

.answer {
	margin: 0.3em 0;
}

.event-blocker {
  position: absolute;
  height: 100vh;
  z-index: -100;
}
